{extends file='layout.tpl'}

{block name=pageTitle}Login{/block}

{block name=pageContent}
<form action="api.php?method=login" method="post">
    Username: <br /><input type="text" name="username" required><br />
    Password: <br /><input type="password" name="password" required><br />
    <input class="btn" type="submit" value="Submit">
</form>
<input type="submit" value="Register" class="btn" onclick="location.href= 'register.php'; return false;"></input>
{/block}