body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: #000;
    color: #888;
} /* bg is header, but doesn't look like full opacity */
h1 {
    color: #8c7598;
    text-shadow: 0px 3px 0px #b2a98f;
}
#header h1 {
    font-family: 'VT323', cursive;
    font-size: 75px;
    float: none;
    text-shadow: 2px 2px #00ff40, 0px 8px rgba(186, 186, 186, 0.3);
} /* doesn't do title color, text effects are fine*/
#header .subtitle {
    color: #999;
    padding-top: 20px;
    font-style: normal;
} /* good */
#header a {
    color: #666;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
/*transitions borke*/
#header a:hover { color: #258fb8 } /* doesn't affect any nav links */
#header #main-nav ul li a {
    font-family: 'VT323', cursive;
    padding: 20px 20px;
} /* good */
#content article h1.title {
    font-family: 'Oswald', sans-serif;
    color: #443247;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    text-align: center;
} /* good, changes title in content section */
#map-canvas {
    border: 10px solid #443247;
    border-radius: 0px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
} /* good, just needs fancy CSS3 styling */
/* matching CSS3 shadows, can be more dramatic */
.entry-content p { color: #ff7800 } /* should change the main body text, but whatever not working -- also need to center this entire content when on mobile viewport */
.container .mid-col {
    min-height: 100%;
    background: #eee fixed;
    border-left: 0px solid #eee;
    border-right: 0px solid #eee;
} /*background is main content area, needs texture, maybe some borders */
/* doesn't totally match other styling */
/* Form wrapper styling */
.form-wrapper {
    width: 250px;
    padding: 15px;
    margin: 50px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border: 10px solid #443247;
    border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}
/* Form text input */
.form-wrapper input {
    width: 250px;
    height: 20px;
    padding: 10px 5px;
    float: center;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
#content li {
    background-color: #3bb3e0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 10px 20px;
    border-left: solid 1px #2ab7ec;
    margin-left: 35px;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}
#content li:hover {
    top: 3px;
    background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
#content li::before {
    content: "·";
    width: 35px;
    max-height: 29px;
    height: 100%;
    position: absolute;
    display: block;
    padding-top: 8px;
    top: 0px;
    left: -36px;
    font-size: 16px;
    font-weight: bold;
    color: #8fd1ea;
    text-shadow: 1px 1px 0px #07526e;
    border-right: solid 1px #07526e;
    background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999;
}
#content li:active::before {
    top: -3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999;
}
